@model Bussiness.Entities.Inscription

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Course</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-2">Specialty</label>
                <div class="col-md-10">
                    @Html.DropDownList("specialtyList", ViewBag.AllSpecialties as SelectList, "Choose Specialty")
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Plan</label>
                <div class="col-md-10">
                    @Html.DropDownList("planList", new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Description"), "Choose Plan")
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Subject</label>
                <div class="col-md-10">
                    @Html.DropDownList("subjectList", new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Description"), "Choose subject")
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Commission</label>
                <div class="col-md-10">
                    @Html.DropDownList("comissionList", new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Description"), "Choose Comission")
                    @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Filenumber</label>
                <div class="col-md-10">
                    @Html.DropDownList("filenumberList", new SelectList(Enumerable.Empty<SelectListItem>(), "Student", "Student"), "Choose Filenumber")
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Qualification</label>
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Qualification, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#specialtyList").change(function () {
            var sID = $(this).val();
            $.getJSON("/Commission/LoadPlanBySpecialty", { specialtyId: sID },
                function (data) {
                    var select = $("#planList");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Choose Plan"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });
        });
        $("#planList").change(function () {
            var sID = $(this).val();
            $.getJSON("/Commission/LoadSubjectBySpecialty", { specialtyId: sID },
                function (data) {
                    var select = $("#subjectList");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Choose Subject"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });
        });
        $("#subjectList").change(function () {
            var sID = $(this).val();
            $.getJSON("/Commission/LoadActualBySubjectByTeacher", { specialtyId: sID },
                function (data) {
                    var select = $("#comissionList");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Choose Comission"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });
        });
        $("#comissionList").change(function () {
            var sID = $(this).val();
            $.getJSON("/Commission/LoadFilenumberByComission", { specialtyId: sID },
                function (data) {
                    var select = $("#filenumberList");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Choose Filenumber"
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });
        });
    });
    </script>



</body>
</html>



